{% load static %}

{% block content %}
    <section id="ocasal" class="secao-casal">
        <div class="container-casal">

            <div  class="foto-casal">
                <img src="{% static 'img/banner-casal.png' %}" alt="foto do casal">
            </div>
            
            <div class="texto-casal">
                <p>
                Olá, somos o casal Robson e Rose e em breve realizaremos o nosso grande sonho de nos casar.
                </p>
                <p>
                Criamos este site para compartilhar com vocês todos os detalhes da nossa celebração. Estamos radiantes e mal podemos esperar para contar com a presença de cada um de vocês no nosso dia especial! Aqui, vocês também encontrarão dicas sobre o locar da Igreja, sobre os trajes, estacionamento e muito mais.
                </p>
                <p class="texto-importante-casal">
                É fundamental que confirmem a sua presença. Para isso, basta clicar no menu "Confirmar Presença" e preencher os dados necessários.
                </p>
                <p>
                Se desejarem nos presentear, sintam-se à vontade para escolher qualquer item da nossa Lista de Casamento que temos aqui mesmo, ou optando po loja fisica.
                </p>
                <p>
                Estamos ansioso para celebrar esse momento incrível com todos vocês!
                </p>
            </div>
        </div>
    </section>
{% endblock %}