{% load static %}

{% block content %}
    <section class="confirmar-presenca" id="confirmar-presenca">
        <h2>Confirme sua presença</h2>
        
        {% if sucesso %}
            <p class="mensagem-sucesso">Mensagem enviada com sucesso!</p>
        {% endif %}

        <form method="POST" action="{% url 'confirmar_presenca' %}">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <button type="submit">Enviar</button>
        </form>
    </section>
{% endblock %}